@keyframes wysun{
	from {top:-100%;opacity: 0;visibility: hidden;}
	to {top:0; opacity: 1;visibility: visible;}
}
@keyframes wysun_rev{
	from {top:0;opacity: 1;visibility: visible;}
	to {top:-100%;opacity: 0;visibility: hidden;}
}
#info,#options{
	display: inline-block;
}
#info{
	height: 80%;
	width: 80%;
	float: left;
	background-color: rgba(126,126,126,0.4);
}
#info div{
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 100px;
	border: 0;
	outline: 0;
	padding: 25px;
	user-select: none;
	transition: all 0.45s;
	float: left;
	background-color: rgb(23, 23, 23);
}
#info img{
	width: 100%;
	height: 100%;
}
#info div:hover{
	background-color: green;
}
#info div:hover:after{
	height: 150%;
	background-color: green;
}
#info div:after{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height: 0;
	position: absolute;
	top:100%;
	left:0;
	background-color:rgb(23, 23, 23);
	color: white;
	font-family: 'Russo One', sans-serif;
	font-size: 1.3vw;
	white-space: wrap;
	content: "";
	transition: ease 0.4s;
	overflow: hidden;
}
#logo_div:hover:after{
	content: "CHANGE LOGO";
}
#user_div:hover:after{
	content: "CHANGE LOGIN";
}
#email_div:hover:after{
	content: "CHANGE EMAIL";
}
#options{
	height: 80%;
	width: 20%;
	float:right;
	background-color: rgba(126,126,126,0.4);
}
#options div{
display: flex;
height: 100%;
flex-direction: column;
align-items: stretch;
user-select: none;
}
#options div button{
	position: relative;
	color:white;
	font-size: 2vw;
	font-family: 'Roboto', sans-serif;
	outline: 0;
	border: 0;
	user-select: none;
	flex-grow: 1;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.5s;
}
#options div button:before, #options div button:after{
	background: green;
  content: '';
  position: absolute;
  z-index: -1;
	transition: all 0.5s;
}
#options div button:after{
	height: 100%;
  left: 0;
  top: 0;
  width: 0;
}
#options div button:hover:after {
  width: 100%;
}
#popup{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top:-100%;
	opacity: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,125,0,0.97);
	z-index: 3;
	transition: opacity 0.6s ease;
}
.popup_anim{
	animation-name: wysun;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.popup_animrev{
	animation-name: wysun_rev;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
#popup label{
	color:white;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	user-select: none;
	margin-bottom: 4%;
}
#popup input{
	display: block;
	margin-top:2%;
	width: 300px;
	height: 50px;
	padding:15px;
	border:0;
	outline: 0;
	border-radius: 15px;
	user-select: none;
	font-size: 22px;
	color:black;
	font-family: 'Roboto',sans-serif;
}
#submit_input{
	cursor: pointer;
	color:white;
	font-size: 30px;
	border-radius: 25px;
	border:2px solid white;
	outline:0;
	font-family: 'Russo One', sans-serif;
	padding:15px;
	margin-top: 5%;
	background-color: transparent;
	transition: ease 0.4s;
	transform: scale(1);
}
#submit_input:hover{
	transform: scale(1.15);
}
#popup em{
	margin-top:4%;
	color:white;
	font-size: 18px;
	user-select: none;
}
#popup img{
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	user-select: none;
	margin:30px;
}
@media only screen and (max-width: 601px), (max-height: 601px) {
	#info div{
	width: 54px;
	padding: 10px;
}
#popup label{
	font-size: 24px;
}
#popup input{
	font-size: 16px;
	width: 150px;
	height: 40px;
}
#submit_input{
	font-size: 18px;
}
#popup em{
	font-size: 14px;
}
}
@media only screen and (max-width: 210px), (max-height: 140px) {
	#info div{
	width: 32px;
}
}
