#register_form{
	display: block;
	width: 40%;
	margin:0 auto;
	text-align: center;
	background-color: rgba(23, 23, 23, 0.95);
	margin-top:5%;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 10px;
	margin-bottom: 10%;
}
#register_label{
	display: block;
	color:white;
	font-size: 2.5vw;
	font-family: 'Russo One', sans-serif;
	padding:10px 0;
	font-weight: bold;
	user-select: none;
	background-color: #404b46;
	margin-bottom: 3%;
}
#register_form input{
	display: block;
	margin:0 auto;
	width: 55%;
	color:white;
	font-size: 1.6vw;
	outline: 0;
	background-color: transparent;
	border:1px solid white;
	border-radius: 10px;
	padding:15px;
	padding-left:3%;
	padding-right: 14%;
	margin-top: 4%;
	transition: ease 0.4s;
	background-repeat: no-repeat;
}
#namef{
	background-image: url("../images/name.png");
	background-size: 6% 40%;
	background-position: right 15px top 17px;
}
#loginf{
	background-image: url("../images/user.png");
	background-size: 6% 40%;
	background-position: right 15px top 17px;
}
#emailf,#emailconfirmf{
	background-image: url("../images/email.png");
	background-size: 6% 40%;
	background-position: right 15px top 17px;
}
#passf{
	background-image: url("../images/klodka.png");
	background-size: 7% 40%;
	background-position: right 15px top 17px;
}
#register_form input::placeholder{
	color:white;
	font-size: 1.3vw;
	user-select: none;
}/*
#register_form input:focus
{
	background-color: #404b46;
}*/
#register_btn{
	cursor: pointer;
	display: block;
	width: 100%;
	margin:auto;
	background-color:#005900;
	color:white;
	font-size: 2.5vw;
	font-family: 'Russo One', sans-serif;
	outline: 0;
	border:0;
	user-select: none;
	transition: ease 0.5s;
	margin-top:4%;
}
#register_btn:hover{
	background-color:#007300;
}
@media only screen and (max-width : 701px) {
#register_form input{
	padding-bottom: 3px;
	padding-top: 3px;
	background-position: right 10px top 5px;
	margin-bottom: 6%;
}
}